
body{
  font-family: 'Helvetica', sans-serif;
  background-color: #cccccc1c;
}

.selectionHeader{
  text-align: center;
  width: 100%;
  margin-top:50px;
}

.pizzaList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:0 auto;
  width: 100%;
}

.pizzaCard{
  width: 330px;
  height: 450px;
  text-align: center;
  margin: 40px;
  background-color: white;
  border-radius: 3%;
  box-shadow: 3px 4px 20px 0px;
  overflow: hidden;
}

.pizzaCard:hover .pizzaImage img{
  transform: scale(1.1);
}

.pizzaImage img{
  width: 100%;
  max-height: 226px;
  object-fit: cover;
  transition: all .4s ease-out;
}

.pizzaNaam{
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}

.pizzaPrijs, .pizzaBeschrijving{
  margin:0 auto;
  width: 50%;
  font-size: 14px;
  margin-bottom: 10px;
}

.pizzaBeschrijving{
  height: 36px;
}


#addToBasket{
    padding: 8px 24px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    text-align: center;
    box-sizing: border-box;
    background-color: red;
    color: white;
    margin-top: 20px;
    transition: all .4s ease-out;
    cursor: pointer;
}

#addToBasket:hover{
  transform: scale(1.1);
}


/*cart footer*/

.basketPanel{
  position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    background-color: #00a735;
    display: flex;
    flex-direction: column;
    z-index: 60;
}

.headerCart{
  margin-left: 10px;
  padding: 20px;
    border-bottom: 1px solid #fff;
    flex: 0 0 auto;
    display: inline-block;
    color: #fff;
}

.cartClose{
  position: absolute;
    right: 9px;
    top: 8px;
    font-size: 35px;
    color: #999;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #fff;
}

.cartList{
  flex: 1 0 auto;
    margin: 0;
    padding: 20px;
}

.cartList .cartLineItems{
color:white;
list-style-type: none;
}
.cartList .cartItem{
margin-bottom: 30px;
}
.cartList .cartLineItems .cartContent{
display: flex;
align-content: space-around;
}

.cartList .cartLineItems .cartContent span{
  margin-right: 10px;
}

.cartFooter{
  margin-left: 10px;
  padding: 30px;
    color: #fff;
    border-top: 1px solid #fff;
    flex: 0 0 auto;
}

/*header*/
header{
  padding:6px;
  position: fixed;
  left: 0;
  top:0;
  height:25px;
  background-color: #4bff4b;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 20;
}

.headerRight> * {
  margin-right: 20px;
  cursor: pointer;
}


/*form styling*/

.formContainers{
display: flex;
flex-direction: row;

}

.loginContainer,.registerContainer{
  margin-left: 5%;
}

.register{
  margin-left: 25%;
}

.errorMessage{
  color:red;
}

form{
  display: flex;
  flex-direction: column;
  width: 400px;

}
input{
  margin-bottom: 10px;
  height: 20px;
}
input[type=submit]{
  width: 95px;
}
/*afreken pagina*/
.orderContainer{
  margin-top: 84px;
}

.cartItem{
  list-style: none;
}

.cartContent{
  margin:0 40px 15px 40px;
}

.cartContent>*{
  margin-right: 100px;
}
